progress-bar:not(:first-child) {
    margin-top: 20px;
}

progress-bar {
    --bar-background: lightblue;
}

:not(:defined) {
    display: none;
}

progress-bar::part(bar) {
    position: absolute;
    top: 50%;
    left: 0;
    height: 70%;
    transform: translateY(-50%);
}
