
:host {
    --bar-background: blue;
    --border-radius: 4px;
    --track-background: lightgrey;
    display: block; /* default: inline */
    height: 20px;
}

.track {
    background: var(--track-background);
    width: 100%;
    position: relative;
}

.bar {
    background: var(--bar-background);
    width: 0%;
}

.track, .bar {
    height: 100%;
    border-radius: var(--border-radius);

}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}

::slotted(*) {
    display: inline;
}
